/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table-users {
  font-size: 1.5rem;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: black;
  gap: 0rem;
}

.table__button-users{
  padding: 0.25em;
  font-size: 1.5rem;
  color: black;
}

.table__thead-users {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th-users{
  background-color: #d62311;
  text-align: left;
  border: 1px solid #d62311;
  padding: 0.5rem;
}
.table__cell-users {
  background-color: white;
  text-align: left;
  border: 1px solid black;
  padding: 0.5rem;
}

.table__cell-users:last-child {
  display: grid;
  place-content: center;
}

.table__cell-users--inactive {
  background-color: var(--INACTIVE);
}