.aboutpage-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.aboutpage-top{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 50%;
    background: #d62311;
    margin: 0;
    padding: 2rem 0 0 2rem;
}

.aboutpage-top-title {
    font-family: "Poppins";
    display: flex; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #f4f3f3;
    margin: 0;
}

.about-mission{
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Poppins";
    width: 70%;
}

.aboutpage-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background: white;
    margin: 0;
    padding: 2rem 0 0 0rem;
}

.aboutpage-bottom-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutpage-bottom-img{
    height: 15rem;
    margin: 4rem 4rem 2rem 4rem;
}

.aboutpage-bottom-title {
    font-family: "Poppins";
    display: flex; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #d62311;
    margin: 0;

}

.about-solution{
    color: #d62311;
    font-size: 1.25rem;
    font-family: "Poppins";
    width: 90%;
}