.documentpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.documentpage-container{
    background: white;
    background-size: cover;
    margin: 4rem;
    padding: 0 0 4em 0;
}

.documentpage-title{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.documentpage-main-title{
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.documentpage-desc{
    font-family: "Poppins";
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.documentpage-form{
    display: flex;
    flex-direction: column;
    outline-style: solid;
    outline-width: 0.05em;
    outline-color: black;
}

.pdfstuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    justify-content: center;
}

.seperation-bar-top{
    height: 1px;
    background: red;
    width: 90%;
    margin: 0 2em 0 2em;
}

#title-text{
    font-size: 1.5em;
    font-weight: bold;
}

#p-text{
    font-size: 1em;
    text-align: center;
}
