.file-claims-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/fileclaim-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.file-claims-page-container{
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin: 4em 4em 0em 4em;
    padding: 0 0 0em 0;
}

.file-claims-page-title{
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 25px; 
    width: fit-content;
}

.file-claims-page-subtitle{
    font-family: "Poppins";
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    margin-left: 25px;
    width: fit-content;
}

/* start of carousel css*/
.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0;
}


/*  This is the container of the list */
.slick-list {
    margin: 0 auto !important;
    width: 80em;
    background-color: gainsboro;    
    border-radius: 10px;
    overflow: hidden;
}

/* This is for the individual slide for each card */
.slick-slide > div {
    padding: 0 0em 0 0;
    margin: 1em 0 1em 0;
    width: 20em;
    object-position: 50% 50%;
}

.card{
    border: 1px solid #fff;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 0em;
    height: 25em;
    padding: 1em 0 1em 0;
}

.card-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*  This is for the image */
.card-top > img {
    height: 12em;
    object-fit: contain; 
    border-radius: 8px; 
}

.card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.card-bottom p{
    margin: 0em 0;
    font-family: "Poppins";
    font-size: 1em;
    color: black;
    text-decoration: None;
}

.Screenshots, .Document, .Download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin: 0.5em 0;
    background-color: #D62311;
    border-radius: 10px;
    width: 18em;
    font-size: 0.75em;
    font-weight: bold;
    color: white;
}

.download-link{
    text-decoration: None;
}

.next-arrow{
    margin: 1em;
}

#link{
    text-decoration: none;
}


