
.homepage{
    background-image: url('../images/sf-wave.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;;
    margin: 0;
    padding: 0;
}

.homepage-content{
    display: flex;
    flex-direction: row;  
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.homepage-right{
    display: flex;
    justify-content: center;
    align-items: center ;
    max-width: 50vw;
    width: 50vw;
    height: 100%;
}


.drone{
    display: flex;
    position: absolute;
    top: 350px;
}

.homepage-left{
    display: flex;
    max-width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0rem 0 0 4rem;
    top: -2rem;
}

.homepage-title-top{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 4.25rem;
    font-weight: bold;
    color: white;
    margin: 0rem 0;
    padding: 0;
    gap: 0;
}

.homepage-title-bot{
    font-size: 4.25rem;
    font-weight: bold;
    color: white;
    margin: 0rem 0;
    padding: 0;
    gap: 0;
}

.homepage-subtitle{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0 0 1.25rem 0;
}

.homepage-divider{
    width: 100%;
    height: 0.125rem;
    background: white;
}

.homepage-description{
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
    margin: 1.25rem 0 0 0;
}

